* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: #f7cfd8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #f3e6c7;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 320px;
  position: relative;
}

.emoji {
  font-size: 50px;
}

h2 {
  margin: 15px 0;
}

.buttons {
  margin-top: 20px;
  position: relative;
  height: 60px;
}

button {
  padding: 10px 22px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
}

#yes {
  background: #ff4d6d;
  color: white;
  left: 40px;
}

#no {
  background: white;
  color: black;
  left: 160px;
}

.hidden {
  display: none;
}

#result img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
